{% extends 'base.html.twig' %}

{% block title %}Account{% endblock %}

{% block body %}
    <h3>Your profile</h3>
    <h5>Email</h5>
    <p> {{ app.user.email }}</p>
    <h5>Change password</h5>
    {{ form_start(form) }}
    <div class="container text-center">
        <div class="custom-error-class">
            {{ form_errors(form.oldPassword) }}
            {{ form_errors(form.plainPassword.first) }}
            {{ form_errors(form.plainPassword.second) }}
        </div>
        <div class="col mx-auto">
            <div class = "row justify-content-center">
                {{ form_label(form.oldPassword) }}
            </div>
            <div class = "row justify-content-center">
                {{ form_widget(form.oldPassword) }}
            </div>
        </div>
        <div class="col mx-auto">
            <div class = "row justify-content-center">
                {{ form_label(form.plainPassword.first) }}
            </div>
            <div class = "row justify-content-center">
                {{ form_widget(form.plainPassword.first) }}
            </div>
        </div>
        <div class="col mx-auto">
            <div class = "row justify-content-center">
                {{ form_label(form.plainPassword.second) }}
            </div>
            <div class = "row justify-content-center">
                {{ form_widget(form.plainPassword.second) }}
            </div>
        </div>
        <div class = "row justify-content-center">
            {{ form_row(form.submit) }}
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}