{% extends 'base.html.twig' %}

{% block title %}GameEvent{% endblock %}

{% block body %}
    <h2>Game event: {{ game_event.name }} </h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ game_event.name }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <th>{{ game_event.type }}</th>
            </tr>
            <tr>
                <th>Score</th>
                <td>{{ game_event.score }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('homepage') }}">
        <button class="btn btn-primary">Back</button>
    </a>
{% endblock %}
