{% extends 'base.html.twig' %}

{% block title %}Games List{% endblock %}

{% block body %}
    <h2>Games List</h2>

    <table class="table table-hover" style="width: 80%; margin: auto">
        <thead class="thead-light">
            <tr>
                <th>Team</th>
                <th>Coach</th>
                <th>Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr class="clickable-row" style="cursor: pointer" data-href="{{ path('game_show', {'id': game.id}) }}">
                <th>{{ game.teamName }}</th>
                <td>{{ game.gameCoach }}</td>
                <td>{{ game.gameDate|date('Y-m-d H:i') }}</td>
                <td>
                    {%  if is_granted('edit', game) %}
                        <a href="{{ path('game_edit', {'id': game.id}) }}">
                            <button type = "button" class = "btn btn-dark btn-sm">Edit</button>
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No games found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {%  if is_granted('ROLE_USER') %}
        <div class="margins">
            <a href="{{ path('game_new') }}">
                <button type = "button" class = "btn btn-dark">New Game</button>
            </a>
        </div>
    {% endif %}

    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".clickable-row").click(function() {
                window.location = $(this).data("href");
            });
        });
    </script>
{% endblock %}
