{% extends 'base.html.twig' %}

{% block title %}Game {{ game.id }} Details{% endblock %}

{% block body %}
    <h3> Game {{ game.id }}</h3>
    <h3>Team: {{ game.teamName }}</h3>
    <h5>Coach: {{ game.gameCoach }}</h5>
    <h5>Date: {{ game.gameDate|date('Y-m-d') }}</h5>
    <div class="margins">
        <h4 class="font-weight-normal">Events score: {{ game.getSummaryScore }}</h4>
    </div>
    {%  if is_granted('ROLE_USER') %}
        <div class="margins">
            <a href="{{ path('game_statistic_new') }}?id={{ game.id }}" class="mb-2">
                <button id="new_event" value="{{ game.id }}" type = "button" class = "btn btn-dark">Create New Event</button>
            </a>
        </div>
    {% endif %}
    <table class="table table-hover" style="width: 80%; margin: auto">
        <thead class="thead-light">
        <tr>
            <th>Player</th>
            <th>Event</th>
            <th>Type</th>
            <th>Score</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

            {% for game_statistic in game.statistics %}
                <tr class="clickable-row" style="cursor: pointer" data-href="{{ path('game_statistic_show', {'id': game_statistic.id}) }}">
                    <th>
                        <a class="link" href="{{ path('player_show',{'id': game_statistic.player.id }) }}">
                            {{ game_statistic.player.name }}
                        </a>
                    </th>
                    <th>
                        <a class="link" href="{{ path('game_event_ranking',{'id': game_statistic.gameEvent.id }) }}">
                            {{ game_statistic.gameEvent.name }}
                        </a>
                    </th>
                    <th>{{ game_statistic.gameEvent.type }}</th>
                    <td>{{ game_statistic.gameEvent.score}}</td>
                    <td>
                        {%  if is_granted('ROLE_USER') %}
                            {{ include('game_statistic/_delete_form.html.twig') }}
                        {% endif %}
                    </td>
            </tr>
            {% else %}
                <tr>
                    <td colspan="4">No records found, if you want to create some record please click button "Create New Event"</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {%  if is_granted('ROLE_USER') %}
        <div>
            <div class="mt-2">
                <a href="{{ path('game_edit', {'id': game.id}) }}">
                    <button type = "button" class = "btn btn-info">Edit game details</button>
                </a>
            </div>
        </div>
    {% endif %}

    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".clickable-row").click(function() {
                window.location = $(this).data("href");
            });
        });
    </script>
{% endblock %}

